div(id="marg")
footer(class="footer")
	div(class="container")
		div(class="row")
			div(class="col-md-12")
				h4(class="text-center") Paragon 2018 &copy;
				span(class="text-muted")
					a(href="/static/login") Employee Login