nav(class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav")
  div(class="container")
    a(class="navbar-brand" href="#") Paragon Executives
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item active")
          a(class="nav-link" href="/") Home
            span(class="sr-only") (current)
        li(class="nav-item")
          a(class="nav-link" href="/static/about") About Us
        li(class="nav-item")
          a(class="nav-link" href="/static/jobseekers") Job Seekers
        li(class="nav-item")
          a(class="nav-link" href="/static/foremployers") For Employers
        li(class="nav-item")
          a(class="nav-link" href="/static/jobs") Jobs
        li(class="nav-item")
          a(class="nav-link" href="/static/contactus") Contact Us