nav(class="navbar fixed-top navbar-expand-lg navbar-light")
  div(class="container")
    a(class="navbar-brand" id="mainBrand" href="/static/video") Paragon Executives
    button(class="navbar-toggler" id="navy" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item active")
          a(class="nav-link" id="hit" href="/") Home
            span(class="sr-only") (current)
        li(class="nav-item")
          a(class="nav-link" id="hit" href="/static/foremployers") Employers
        li(class="nav-item")
          a(class="nav-link" id="hit" href="/static/candidates") Candidates
        li(class="nav-item")
          a(class="nav-link" id="hit" href="/static/about") Pholosophy
        li(class="nav-item")
          a(class="nav-link" id="hit" href="/static/jobs") Current Opportunities
        li(class="nav-item")
          a(class="nav-link" id="hit" href="/static/careers") Careers