extends ../layout

block content
	include partials/mainnavbar.jade
	div(id="aboutbg")
		div(id="abouttitle")
			h1 About Paragon Executives
			h3 We are a nationwide recruitment firm that partners with the best companies to provide the best oppurtunities.
	br
	div(class="container")
		div(id="aboutbg2")
			div(id="aboutcontent")
				h2 Who are We?
				p We are the leading recruitment firm for revenue generating, marketing and people operations roles. Since 2009 Betts has partnered with the biggest names across sectors offering a customized approach to each search. We’ve established networks of genuine relationships that allow us to source the highest-quality talent and execute quickly. With locations in San Francisco, New York, Austin, Palo Alto, Los Angeles and Chicago, we work Nationwide, to help you build your organization, and to guide talent into an exciting career, faster and smarter.
	include partials/footer.jade