extends ../layout

block content
	include partials/mainnavbar.jade
	div(id="margin")
	div(class="container")
		div(class="row")
			div(class="col-md-12")
				img(src="../images/tasks.png" width="100%" height="500px")
		br
		div(class="row")
			div(class="col-md-12")
				p(id="philosophy") Our Story and Philosophy
				p(class="text-center") 100% Diversity and inclusion focus
				p Our philosophy is motivated by a conversation that took place over coffee with an HR director in 2016. After meeting at a SHRM event a week prior, she wanted to meet at a mutual neighborhood coffee shop in upper east side, Manhattan. After paying for her coffee, she sat across from me and said, “I have and nice package and I’m exiting my role within 9 months, can you help me find placement?” I answered, of course, I’ll do my best, I just need your updated resume. Currently my contractor, miss Newman is calling talent acquisition as we speak; pitching some of our top executives. We’ll be happy to review your credentials and create your profile.  
				p We chat about where she sees herself, then I asked, why are you leaving…  “She exclaimed, my boss simply told me he’s giving me nine months and a severance package and to be totally frank, I never like his recruiting practices. I answered, oh. She continued, “He would send me to black colleges and minority recruitment events, but only to collect resumes and names for our books. He advised never to hire a black person or call them for interviews.” I asked how many employees worked there, she said over 500. She said he is narrow-mindedness with regards to minorities. 
				p Not all, but many at some point or another, are guilty of workplace biases: stereotype is Wrong for business. 	
				p What she shared was in fact to real to me and some of my highly qualified colleagues and while her version was less than five minutes my version could fill a 300-page book. Sharing that information was a courageous move on her part as it confirmed the big elephant that no one wants to address. 
				p Paragon Executive seek to work with Person B boldly come out from the shadows and partner with us and open doors for minority applicants.
				p And for person A, diversity of thoughts can and will not survive in the next 3-7 years. The time is now, acknowledging our changing world as it relates to workforce politics and talent shortage plays a major key to business economics. 
				p The political climate and divisive narrative of key leaders are resulting in an uproar of mistreatment of minorities in the social sphere and is making the opportunity gap wider. 
				p We believe the last hired and first fired attitude will not take your organization to the next economic dimension. The future labor force cannot sustain old fashioned theories and concept of diversity of thoughts and not of culture. The sooner leaders implement a plan to address universal human dignity, the better that organization will be able to compete. 
				p This agency is primarily set up to assist those who do agree, who dare to pull the mirror up close and reflect, those who seeks to step-away from fear of cultural diversity in the corporate milieu and incorporate change. Starting with black minorities who makes up the bottom of the barrel, older Americans particularly vets, Latinos, Asians, and female leaders.
				p Studies have shown that the talent pool for is shrinking in the US and many other parts of the world. The time has come to rethink your objectives. We will partner with you in finding the best and most qualified individuals that can take your organization to the next level: That is why we exist. 
		br
		div(class="row")
			div(class="col-md-12")
				p The most negative way to impact costs is to be biased.
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/interview.jpg" width="100%" height="600px")
		br
		div(class="row")
			div(class="col-md-12")
				p Consider the mirror reflection, consider how your actions could hurt someone’s career and life choices. Put yourself in his or her shoes.
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/im.jpg" width="100%" height="500px")
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/lady.png" width="100%" height="500px")
				p Focus on credentials and opportunity: “our very survival depends on our ability to corporates and trust with the people live or work with. You could take a good person and put him in a bad environment and that person will do bad things, you can take a person maybe the group does not trust maybe they even perform bad act, you put him in a good environment and they’re capable of turning their life around and becoming remarkable members of society, so it is not the person, it’s the environment. Leaders are responsible for that environment and I think leaders forget that: leaders think that they’re responsible for the results.” Simon Sinek
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/clock.jpg" width="100%" height="500px")
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/start.jpg" width="100%" height="500px")
		br
		div(class="row")
			div(class="col-md-12")
				p Diversity is not talent nor character blind, it is opportunity (an open door) that will create an atmosphere of creativity and productivity, which have shown to increases profit margins.
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/laptop.jpg" width="100%" height="600px")
	include partials/footer.jade