extends ../layout

block content
	include partials/mainnavbar.jade
	div(id="margin")
	div(class="container")
		p We are looking to hire consultants that are experts in his or her field, are client focus and are up-to-date with industry trends. He or she most have and continually strive to expand and to establishing a strong network of passive executives. He or she must have the confidence to build, maintain, and manage relationships with c-level executives. Most importantly, he or she must be costumer oriented.
		p Our consultants must have an entrepreneurial mindset and business astute with a degree of understanding of how social variation that affect minorities. 
		h4
			a(href="/static/upload") Upload Resume
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/globe.jpg" width="100%" height="500px")
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/hiring.jpg" width="100%" height="500px")
	include partials/footer.jade