extends ../layout

block content
	include partials/mainnavbar.jade
	div(id="margin")
	div(class="container")
		div(class="row")
			div(class="col-md-12")
				p We will support Your organization’s effort to recruit diverse talents from A-Z. We speak with employers who are successful in implementing diverse teams and ask how they did it. We collaborate with diversity and inclusion university Professors who are doyens and we share what we learn with you and amend it to customize your particular area of need.
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/men.jpg" width="100%" height="500px")
		br
		div(class="row")
			div(class="col-md-12")
				img(src="../images/team.jpg" width="100%" height="500px")
		br
		div(class="row")
			div(class="col-md-12")
				div(id="form")
					form(method="POST" action="/static/executive")
						h3(class="text-center") Partner with us today for your c-suite needs in HR, IT, and bankers as well as your office temporary roles.
						p= message
						label(for="jobFunction") Job Function
						input(class="form-control" type="text" name="jobFunction" placeholder="" required)
						br
						label(for="position") Position Hiring For
						input(class="form-control" type="text" name="position" placeholder="" required)
						br
						div(class="row")
							div(class="col-sm-6")
								label(for="positionType") Position Type
								input(class="form-control" type="text" name="positionType" placeholder="" required)
							div(class="col-sm-6")
								label(for="zipCode") Zip Code
								input(class="form-control" type="text" name="zipCode" placeholder="" required)
						br
						h3(class="text-center") Contact Information
						br
						div(class="row")
							div(class="col-sm-6")
								label(for="firstName") First Name
								input(class="form-control" type="text" name="firstName" placeholder="" required)
							div(class="col-sm-6")
								label(for="lastName") Last Name
								input(class="form-control" type="text" name="lastName" placeholder="" required)
						br
						div(class="row")
							div(class="col-sm-6")
								label(for="businessPhone") Business Phone
								input(class="form-control" type="text" name="businessPhone" placeholder="" required)
							div(class="col-sm-6")
								label(for="workEmail") Work Email
								input(class="form-control" type="text" name="workEmail" placeholder="" required)
						br
						div(class="row")
							div(class="col-sm-6")
								label(for="company") Company
								input(class="form-control" type="text" name="company" placeholder="" required)
							div(class="col-sm-6")
								label(for="jobTitle") Job Title
								input(class="form-control" type="text" name="jobTitle" placeholder="" required)
						br
						button(class="btn btn-outline-danger btn-lg btn-block") Send
	include partials/footer.jade