extends ../layout

block content
	include partials/navbar.jade
	div(class="container-fluid")
		div(id="main")
			div(class="row")
				div(class="col-md-6")
					div(id="mainbg")
						h2(class="text-center") Connect with a job you love.
						h6(class="text-center") We're her to connect driven people with the world’s most innovative companies.
						center
							button(class="btn btn-primary") Upload Your Resume
				div(class="col-md-6")
					img(class="img-fluid" src="https://travel.state.gov/content/travel/en/us-visas/business/_jcr_content/tsg-rwd-content-page-parsysxxx/slideshow.img.png/1512148994695.png")
	div(class="row")