extends ../layout

block content
	video(autoplay muted loop id="myVideo")
		source(src="../videos/World - 1992.mp4" type="video/mp4")
	include partials/navbar.jade
	div(class="container-fluid")
		div(class="row" id="mainContent")
			div(class="col-md-12")
	div(class="content")
		div(class="row")
			div(class="col-sm-6")
				img(src="../images/arrow.jpg" width="100%" height="100px")
			div(class="col-sm-6")
				h5 Diversity Recruitment for the following:
				ul
					li(id="pick") Human Resources
					li(id="pick") Technology
					li(id="pick") Accountants
					li(id="pick") and Banking